# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.idea
node_modules

/domain/dist
/domain/node_modules

/infrastructure/dist
/infrastructure/node_modules
*.tsbuildinfo

dist
node_modules
.DS_Store
dist-ssr
coverage
*.local

# IMPORTANT: These folders cause Static Web Assets duplicate key errors
public
.vite
node_modules/.vite

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/vue.code-snippets
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sonarlint #
sonarlint

deploy
